.row{
    display: flex;
    flex-wrap: wrap;    
    padding: 0 4px;
}
.column{
    flex: 25%;
    max-width: 75%;
    padding: 0 4px;
}
.column img{
    margin-top: 0px;
    vertical-align: middle;
    max-width: 500%;
}
.background img{
max-width: 1500px;
height: auto;}